body {
    font-family: arial, sans-serif;
}

.s_header{
    height: 30px;
    padding: 15px 15px 0px;
    vertical-align: middle;
}
.h_nav{
    float: right;
}
.h_nav a{
    font-family: arial,sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    text-decoration:none;
    padding-left: 15px;
}
.h_nav a:hover, a:active {
    text-decoration: underline;
}

.s_logo{
    margin: 0px 40px;
    padding: 0px;
    text-align: center;
}
.s_logo img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    width: auto;
    vertical-align: center;
}

.s_logo_text {
    text-align: center;
    margin-left: 250px;
    margin-top: -32px;
    height: 32px;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    white-space: nowrap;
}

.s_logo_lable {
    color: #d93025;
    font-size: 20px;
    margin: 35px 15px;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    text-align: left;
    vertical-align: baseline;
    text-decoration: none;
    font-family: arial,sans-serif;
}

.s_hr {
    padding: 0px;
    margin: 0px;
    border-bottom: solid 1px #d6d6d6;
}

.s_form {
    padding: 0px 20px 20;
}

.s_form input:focus {
    outline: none
}

.s_form input::-moz-focus-inner {
    border: 0
}

.s_form_input {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
}

.s_form_input:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.mglass {
    padding: 12px 6px 0px 12px;
    color: #9aa0a6;
    height: 26px;
    width: 26px;
    fill: currentColor;
}
.mglass_btn {
    padding: 10px 6px 0px 0px;
    margin-left: -15px;
    color: #4285f4;
    fill: currentColor;

    height: 35px;
    width: 35px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.q_text {
    margin-right: 20px;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    width: 100%;
    border: none;
    background-color: transparent;
}

.s_form_btn {
    height: 70px;
    text-align: center;
    padding-top: 18px;
    top: 53px;
    z-index: 0
}

.s_form_btn input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
}

.s_form_btn input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124
}

.s_form_btn input[type="submit"]:focus {
    border: 1px solid #4285f4;
    outline: none
}

.s_adv_form {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 35px 2% 0 45px;
}

.s_adv_form_title {
    width: 100%;
    clear: both;
}

.s_adv_form_input {
    width: 100%;
    clear: both;
}

.s_adv_form_btn {
    clear: both;
}

.aft_lable {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}
.aft_lable_v2{
    float: left;
    display: inline-block;
    min-width: 334px;
    min-height: 41px;
    width: 66%;
    font-size: 18px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}
.aft_q {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.aft_expl {
    float: left;
    display: inline-block;
    width: 33%;
    font-size: 14px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}

.afi_lable{
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle
}
.afi_b{
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
    text-align: right;
}
.afi_b > input {
    line-height: 100%;
    height: 30px;
    min-width: 120px;

    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;

    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

    outline: 0;
    
    font-style: inherit;
    
}
.afi_q{
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;

    text-align: left;
}
.afi_q > input {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    width: 100%;
}
afi_q > input:focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #4d90fe;
    outline: none;
}

afi_q > input::-ms-clear {
    display: none;
}
.afi_expl{
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
    color: #555;
    font-size: 12px;
}
.afi_expl span{
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre
}

@media (max-width:1056px) {
    .aft_expl {
        display: none !important
    }
    .afi_expl {
        display: none !important
    }
}
